<p id="notice"><%= notice %></p>

<h1>Listing Middlewares</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Web price</th>
      <th>Web price desc</th>
      <th>Phone price</th>
      <th>Phone price desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @middlewares.each do |middleware| %>
      <tr>
        <td><%= middleware.product.name %></td>
        <td><%= middleware.quantity %></td>
        <td><%= middleware.web_price %></td>
        <td><%= middleware.web_price_desc %></td>
        <td><%= middleware.phone_price %></td>
        <td><%= middleware.phone_price_desc %></td>
        <td><%= link_to 'Show', middleware %></td>
        <td><%= link_to 'Edit', edit_middleware_path(middleware) %></td>
        <td><%= link_to 'Destroy', middleware, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Middleware', new_middleware_path %>
