<div style='float:left' ,class='col-md-8'>
    <h2>All Titles</h2>
</div>
<span style='float:right;margin-left:5px;font-weight:bold;margin-top:30px'>
  <u><%= link_to ' New Title', new_title_path, class: 'btn btn-primary fa fa-plus' %></u>
</span>  

<table class="table table-striped table-bordered" style='border:1px solid #ccc;width:95%'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3" style='text-align:center'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @titles.each do |title| %>
      <tr>
        <td><%= title.id %></td>
        <td><%= title.name %></td>
        <td style='text-align:center'>
            <%= link_to ' Show', title, class: 'btn btn-success btn-sm fa fa-eye'%></td>
        <td style='text-align:center'>
            <%= link_to ' Edit', edit_title_path(title), class: 'btn btn-primary btn-sm fa fa-pencil-square-o' %></td>
        <td style='text-align:center'>
           <%= link_to ' Delete', title, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-sm fa fa-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


