<div style='background-color:#1E61A5;color:white;height:30px;border-radius:30px 30px 0px 0px;text-align:center;padding: 5px 5px;font-weight:bold'>
Order Toll Free: 001 888 848 1945 . You save an additional 20% by ordering online.
</div>
<div style='height:130.5px'> 
  <div style='width:70%;height:140px;background-color:#FDFAEE;float:left'>
    <div style='margin-left:20px;text-align:center'>
        <span style='font-weight:bold;font-size:50px;color:#1E61A5;letter-spacing: 2px;'>AIMMS
        </span> 
        <span style='font-size:20px;color:#1E61A5;letter-spacing: 2px;'>PHARMACY</span>
    </div>
    <span style='margin-left:150px;font-weight:bold;color:#1E61A5;text-align:center'><i>Your Neighborhood Drugstore Online</i></span><br>
    <div style='margin-top:20px;margin-left:20px'>
    <%= link_to 'Browse Products',:categories, {:style=>'background-color:#C5F6C0;padding:10px;border-radius:10px 10px 0px 0px;margin-right:-4px;border:1px solid #7D9B79;color:#1E61A5;font-weight:bold'} %>
      <span style='background-color:#C5F6C0;padding:10px;border-radius:10px 10px 0px 0px;margin-right:-4px;border:1px solid #7D9B79;color:#1E61A5;font-weight:bold'>Ordering Information</span>
      <span style='background-color:#C5F6C0;padding:10px;border-radius:10px 10px 0px 0px;margin-right:-4px;border:1px solid #7D9B79;color:#1E61A5;font-weight:bold'>Our Company</span>
      <span style='background-color:#C5F6C0;padding:10px;border-radius:10px 10px 0px 0px;margin-right:-3px;border:1px solid #7D9B79;color:#1E61A5;font-weight:bold'>Help</span>
    </div>  
  </div>
  <div style='width:30%;height:140px;background-color:#C5F6C0;float:right'>
  <div class='row' style='padding:25px;padding-top:5px'>
    <% if current_user %>
          <span style='font-weight:bold;margin-bottom:10px;'>Welcome <%= current_user.first_name + " " + current_user.last_name %></span> <br><br>
          Username : <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.first_name + " "+ current_user.last_name, length: 25)).html_safe,edit_user_registration_path, title: 'Edit Profile' 
          %><br>
          Email : <%=  current_user.email %>
        <br>
        <%= link_to('View Profile', user_session_path, class: 'btn btn-xs btn-primary',
                                                          title: 'Profile') %>           
        <%= link_to('Edit Profile', edit_user_registration_path, class: 'btn btn-xs btn-success',title: 'Edit Profile') %>                  
        <%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-danger',
        title: 'Logout',method: :delete) %>                                                                                       
    <% else %>                         
          <br><u>                          
          <%= link_to('Log In', new_user_session_path, class: 'text text-primary', title: 'Log In') %> /  <%= link_to('Register', new_user_registration_path, class: 'text text-primary', title: 'Register') %></u><br><br>
          <span class='text-primary small' style='font-weight:bold'><u>Forget Password?</u></span><br>
          <span class='text-primary small' style='font-weight:bold'><u>Do I need an account to order?</u></span>
    <% end %>
        </div>
  </div>
</div>


